# Hugo default output directory
/public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Dev-specific Env and configs
.venv
.ipynb_checkpoints
.vscode
notebooks/*.*
!notebooks/*.ipynb.hugo_build.lock
