:root {
    --brand-lightness: 40%;
    --base-hue: 300; /* fuchsia */
    --brand-color: hsl(var(--base-hue), 75%, var(--brand-lightness));
    --highlight-color: hsl(calc(var(--base-hue) + 180), 84%, var(--brand-lightness));
    --action-color: hsl(calc(var(--base-hue) + 270), 96%, 30%);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* https://stackoverflow.com/questions/2436749/how-to-add-multiple-font-files-for-the-same-font */
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../fonts/BerkeleyMono-Regular.woff2'),
        url('../fonts/BerkeleyMono-Regular.woff');
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../fonts/BerkeleyMono-Italic.woff2'),
        url('../fonts/BerkeleyMono-Italic.woff');
    font-style: italic, oblique;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../fonts/BerkeleyMono-Bold.woff2'),
        url('../fonts/BerkeleyMono-Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: 'BerkeleyMono';
    src: url('../fonts/BerkeleyMono-Regular.woff2'),
        url('../fonts/BerkeleyMono-Regular.woff');
}
.container {
    max-width: 700px;
}

#nav {
    padding: .5rem 0.5rem;
    color: var(--brand-color);
}

nav a {
    padding: 0.1rem;
}

#nav a {
    color: var(--brand-color);
    text-decoration: none;
}

a {
    color: var(--brand-color);
    text-decoration: none;
}

a:hover {
    color: var(--action-color);
    text-decoration: underline;
    filter: brightness(0.6);
}

a.tag-btn:hover {
    background-color: var(--brand-color);
    color: white;
    filter: brightness(1);
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

#nav a #section {
    padding-right: 2rem;
}

#nav-border {
    border-bottom: 1px solid var(--brand-color);
}

strong {
    font-weight: 700;
}

#main {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 4em;
}

#main p {
    line-height: 1.7rem;
}

#main h1,
h2,
h3,
h4 {
    font-weight: 600;
    padding-bottom: 1.0rem;
    padding-top: 1.3rem;
}
h2 {font-size: 1.9rem;}
h2 {font-size: 1.9rem;}

#home-jumbotron {
    background-color: inherit;
}

#main blockquote {
    font-weight: 300;
    font-style: italic;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: solid hsla(237, 0%, 90%, 1) 5px;
}

.font-125 {
    font-size: 125%;
}

.tag-btn {
    margin-bottom: 0.5rem;
}

img {
    max-width: 100%;
}

.summary {
    color: hsla(237, 0%, 25%, 1);
    font-size: .9rem;
}

#abstract {
    border-radius: 10px;
    background-color: hsla(237, 0%, 90%, 1);
    padding: 1rem 1.2rem;
    margin-bottom: 1rem;
}

aside.toc ul>li {
    list-style-type: none;
    padding-left: 1.5rem;
}
aside.toc ul {
   padding-left: 0; 
}

figure img {
    box-shadow: 0rem 0rem 1rem hsl(0, 0%, 80%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption h4 {
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

article ol,
article ul {
    margin-left: 0.5rem;
    padding-left: 1.6rem;
}

article ol li,
article ul li {
    padding-top: .6rem;
    margin-left: 0;
    padding-left: 0;
}

code,
pre {
    font-family: 'BerkeleyMono', monospace;
}
code {
    color: var(--highlight-color);
}

.highlight code {
    font-size: 1.1em;
}

p code {
    font-size: 0.95em;
}

article>dl>dd {
    padding-left: 2rem;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

article table {
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    border: 2px solid hsl(0, 0%, 40%);
}

article table td,
article table th {
    padding: .2rem 1rem;
    border: 1px solid hsl(0, 0%, 80%);
}

article table th {
    text-align: center;
}
@media print {
    .no-print {
    display: none;
    }
}
