{{ define "main" }}

<h1>{{ .Title }}</h1>

<!--
  The .Content here is the magic bit that also
  renders the text on the _index.md page in each
  of the content folders, e.g., the content in
  content/blog/_index.md.
-->
{{ .Content }}

{{ range .Paginator.Pages.ByPublishDate.Reverse }}
<p>
  <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
  <br>
  {{ partial "date-and-tags.html" . }}
  {{ if .Params.summary }}
  <p class="summary">{{ .Params.summary | markdownify | truncate 200 }}</p>
  {{ end }}
</p>
{{ end }}
{{- partial "pagination.html" . -}}

{{ end }}