{{ define "main" }}

<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    {{ partial "date-and-tags.html" . }}
    <p></p>
    {{ if .Params.summary }}
    <div id="abstract">{{ .Params.summary | markdownify }}</div>
    {{ end }}
    {{ partial "toc.html" . }}
    {{ .Content }}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title | htmlEscape }}&summary={{ .Summary | htmlEscape }}&source={{ .Site.BaseURL }}">LinkedIn Share</a>
    {{ partial "related.html" . }}
</article>
{{ end }}