<style>
.container {
    max-width: {{ .Site.Params.containerMaxWidth | default "700px" | safeCSS }};
}
#nav a {
    font-weight: bold;
    color: inherit;
}
#nav-border {
    border-bottom: 1px solid #212529;
}
strong {
    font-weight: 700;
}
#main {
    font-weight: 400;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 4em;
}
#main p {
    line-height: 1.6rem;
}
#main h1, h2, h3 {
    font-weight: 600;
    font-family: 'Domine', sans-serif;
    padding-bottom: 1.0rem;
    padding-top: 1.3rem;
}
#home-jumbotron {
    background-color: inherit;
}
#main blockquote {
    font-weight: 300;
    font-style: italic;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: solid hsla(237, 0%, 90%, 1) 5px;
}
.font-125 {
    font-size: 125%;
}
.tag-btn {
    margin-bottom: 0.5rem;
}
img {
    max-width: 100%;
}
.summary {
    color: hsla(237, 0%, 40%, 1);
    font-size: .9rem;
}
#abstract {
    border-radius: 10px;
    background-color: hsla(237, 0%, 90%, 1);
    padding: 1rem 1.2rem;
    margin-bottom: 1rem;
}
aside.toc ul > li {
    list-style-type: none;
}
figcaption h4 {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    padding-top: 1.5em;
    padding-bottom: 2em;
}
code, pre {
    font-family: 'Ubuntu Mono', monospace;
}
.highlight code {
    font-size: 1.1em;
}
p code {
    font-size: 1.1em;
}
article > dl > dd {
    padding-left: 2rem;
}
code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}
article table {
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    border: 2px solid #666;
}
article table td, article table th {
    padding: .2rem 1rem;
    border: 1px solid #ccc;
}
article table th {
    text-align: center;
}
</style>